{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/login.css')}}">
<body style="color: blanchedalmond">
<h1><strong><center>INTRODUCTION</center></strong></h1><br>
	<p>Banana is one of the major food cum fruit crops that have capability to provide       abundant income to the farmers and country’s economy. But this capability of banana crop  is not fully enjoyed by the farmers as there are various threats and decrease the production.In agriculture sector, computer vision and machine vision systems have been developed for various applications like grading of fruits, vegetables, sorting of fruits, vegetables and detection of weeds.</p>
       
                         <p>   The technique which we are using to predict and classify the banana disease is Bayesian Networks.Bayesian network is one of the most effective theoretical models for uncertainty knowledge expression and reasoning. It has not only a solid basis for probability theory, but also a perfect correspondence with technical knowledge structures. So we use Bayesian network to model the plant diseases.</p>
	<h3><strong><center>OBJECTIVES</center></strong></h3><br>
	
	<p><li>	A web application is designed to help to  identify and classify the bannana leaf diseases by the plant’s appearance and visual symptoms on leaves.</li></p>
	
	
	<p><li> It  is easy to use and can be accesssed by everyone.</li></p>
	
	<p><li>Thjs web application could be of great help to amateurs in the agricultural process. This will be proved as useful technique for farmers and will alert them at the right time before spreading of the disease over large area.</li></p>
	
	<p><li>Diagnosis and identification of plant diseases accurately in early stage facilitate farmers to have a better control over the disease severity.</li></p>
</body>
{% endblock %}